.atalhos {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.link {
  text-decoration: none;
  width: 100%;
}

.botao {
  padding: 10px 20px;
  background-color: #ff6f61;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 1rem;
  transition: transform 0.3s, background-color 0.3s;
  width: 100%;
}

.botao:hover {
  background-color: #e85b55;
  transform: scale(1.05);
}

.link:focus {
  outline: none;
}

.link:focus .botao {
  outline: 2px solid #e85b55;
  outline-offset: 2px;
}