
.hidden {
   opacity: 0;
   transition: opacity 0.6s ease-out, transform 0.6s ease-out;
 }
 

 .hiddenFromBottom {
   transform: translateY(50px);
 }
 
 .visibleFromBottom {
   opacity: 1;
   transform: translateY(0);
 }
 
 .hiddenFromTop {
   transform: translateY(-50px);
 }
 
 .visibleFromTop {
   opacity: 1;
   transform: translateY(0);
 }
 
 .hiddenFromLeft {
   transform: translateX(-200px);
 }
 
 .visibleFromLeft {
   opacity: 1;
   transform: translateX(0);
 }
 

 .hiddenFromRight {
   transform: translateX(200px);
 }
 
 .visibleFromRight {
   opacity: 1;
   transform: translateX(0);
 }
 