.galeriaContainer {
   background: linear-gradient(135deg, #1e1e1e, #333);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   height: auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   padding: 20px;
   gap: 30px;
   border-radius: 15px;
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
   overflow: hidden;
 }
 
 .sectionEsquerda,
.sectionDireita {
  flex: 1 1 45%;
  max-width: 600px;
  min-width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

 
 .sectionEsquerda {
   margin-right: 1rem;
 }
 
 .sectionDireita {
   margin-left: 1rem;
 }
 
 @media (max-width: 1024px) {
   .galeriaContainer {
     flex-direction: column;
     height: auto;
     gap: 20px;
   }
 
   .sectionEsquerda,
   .sectionDireita {
     flex: 1 1 80%;
     margin: 10px 0;
   }
 }
 
 @media (max-width: 768px) {
   .galeriaContainer {
     padding: 15px;
   }
 
   .sectionEsquerda,
   .sectionDireita {
     padding: 15px;
   }
 }
 