.galeriaContainer {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   height: 80vh;
   padding: 20px;
 }
 
 .sectionEsquerda,
 .sectionDireita {
   flex: 1 1 45%;
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 600px;
 }
 
 .sectionEsquerda {
   margin-right: 3rem;
}

.sectionDireita {
   margin-left: 3rem;
}


 @media (max-width: 768px) {
   .galeriaContainer {
     flex-direction: column;
   }
 
   .sectionEsquerda,
   .sectionDireita {
     flex: 1 1 100%;
   }
 }
 