.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding: 4rem 3rem;
   background: linear-gradient(145deg, #222, #444); /* Gradiente suave */
   border-radius: 15px;
   box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4); /* Destaque visual */
   max-width: 450px; /* Ajusta largura */
   width: 100%;
   gap: 15px;
 }
 
 .titulo {
   font-size: 2.5rem; /* Ajusta tamanho */
   font-weight: bold;
   color: #d4a65a;
   margin-bottom: 15px;
 }
 
 .texto {
   font-size: 1rem; /* Ajusta tamanho */
   font-weight: 500;
   color: #ddd;
   line-height: 1.5;
 }
 
 .botaoContainer {
   margin-top: 15px;
 }
 
 .botao {
   background: linear-gradient(135deg, #d4a65a, #d0b77a);
   color: #222;
   font-size: 1rem;
   font-weight: bold;
   padding: 12px 20px;
   border-radius: 10px;
   text-decoration: none;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
   transition: all 0.3s ease-in-out;
 }
 
 .botao:hover {
   background: linear-gradient(135deg, #d0b77a, #d4a65a);
   box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
 }
 